* {
  box-sizing: border-box;
}

body {
  display: flex;
}

.image {
  background-image: url(../images/stone.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  text-align: center;
  align-items: center;
  margin: 0;
  /* color: #fff; */
  width: 100vw;
  font-size: 28px;
}

.btn [type='text'] {
  padding: 8px;
  width: 25vw;
  border-radius: 8px;
  border: none;
  color: #fff;
  background-color: skyblue;
  font-size: 22px;
}

button {
  padding: 8px;
  font-size: 24px;
  width: 90px;
  background-color: #fad4a3;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

